@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    background: rgb(213, 225, 239);
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2vh);

    article.qr-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #fff;

        width: 296px;
        padding: 0.35rem 0.7rem 0.7rem 0.7rem;
        border-radius: 15px;

        figure.qr-image-container {
            margin: 0.5rem auto;
        }

        img {
            object-fit: contain;
            width: 100%;
            border-radius: 15px;
        }

        h3.qr-title {
            color: rgb(39, 54, 73);
            margin: auto;
            width: 90%;
            font-weight: bold;
            font-size: 1.2rem;
        }

        p.qr-description {
            color: rgb(164, 164, 173);
            margin: 0.5rem;
            font-weight: lighter;
            font-size: 0.1rem;
        }
    }
}

div {

    &.attribution {
        font-size: 11px;
        text-align: center;

        & a {
            color: hsl(228, 45%, 44%);
        }
    }
}

footer {
    width: 100%;
    background-color: #fff;
}